body {
  background-color: black;
  overflow: auto;
}

#middle {
  /* hidden until the user clicks in the play button" */
  display: none;
}

#playButton {
  display: none;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Show by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#loadingSpinner {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

video {
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}